
 ul {list-style-type:none;}

.pageNav nav{background-color:#333; }
.pageNav nav ul {list-style-type:none;margin:0;padding:0;overflow:hidden;}

.pageNav  nav    li{float:left; }

.pageNav  nav    a:link,a:visited
      {display:block;width:120px;font-weight:bold;color:#FFFFFF;
      background-color:#333;text-align:center;padding:4px;text-decoration:none;
      text-transform:uppercase;}

.pageNav  nav    a:hover,a:active{background-color:#009900;}


/*更改选中文字的颜色*/
 *::selection{
     background-color: rgba(97, 97, 97, 0.8);
     color: #FFF;
     text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
 }
 .clear{clear: both;}