<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>设置界面</title>

</head>
<body>

{{template "navbar" }}


<h1>欢迎来到hefju的golang学习日记</h1>
<input id="btnAdd" type="button" value="新增日记" onclick="displayHide()"></p>
<div id="pnlAdd" style="display:none;  background-color:#666;width:280px;min-height: 180px;margin:10px;padding:10px;color:#fff">
    <form action="/addUpdateLog" method="post" onsubmit="return validate_Add_Action(this)" >
        添加日记<hr>
        Title : <br> <input type="text"  name="txtTitle" value="" style="margin:5px 0;"><br>
        Content:<br> <textarea cols="30" rows="2" name="txtContent"></textarea><br>

        <input type="submit" value="新增" >
    </form>
</div>


<ol>
    {{range .UpdateLog}}
    <li><h3>{{.Title}}</h3>
    <p>{{.Content}}
    </p></li>
    {{end}}

</ol>

<script language="javascript" type="text/javascript">
    //新增窗口采用 显示/隐藏 方式
    function displayHide()
    {
        var btnAdd=document.getElementById("btnAdd");
        var pnl=document.getElementById("pnlAdd");
        if(pnl.style.display=="none"){
            btnAdd.value="关闭新增面板";
            pnl.style.display="";
        }else{
            btnAdd.value="新增日记";
            pnl.style.display="none";
        }
    }
</script>
</body>
</html>