<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/js/jquery-2.1.3.js"></script>
    <style>
        .selected {
        background-color: brown;
        color: #FFF;
        }
        .jhide{
        display:none;
        }
    </style>
    <title>我的任务</title>
</head>
<body>
{{template "navbar" }}
<div class="page-header">
    <h1>拖延症
        <small>你可以调整期望，把遥远的目标分解成为简单的，必定可以完成，又可以靠近最终目标的目标。</small>
    </h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">

          <h1>2015.3.11<label id="lblID"></label></h1>

            <table class="table table-condensed" id="table">
                {{range .mytasks}}
                <tr><td class="jhide">{{.Id}}</td> <td>{{.Title}}    </td></tr>
                {{end}}

                <tr><td class="jhide">0</td> <td>
                    <form action="/addtask" method="post">
                        <textarea rows="2" cols="40" name="txtInputTask" placeholder="添加任务"  ></textarea>
                        <input type="submit" value="添加" style="margin-top: 0px;" />
                    </form>

                </td></tr>
            </table>

        </div>
        <div class="col-md-8 alert alert-warning">


            <span class="label label-default" style="display:none;">undone</span>

            <div style="display:inline">
            </div>
            <form id="frmTask" action="/updateTask"  method="post" target="_blank" >

                <input type="text" id="txtID" name="txtID" style="display:none;"/>

                <input type="text" id="txtTitle" name="txtTitle" style="width:85%"/>


                <br>       <br>

            <textarea  id="txtContent" name="txtContent" cols="30" rows="15" style=" width:100%;"></textarea><br>
                <input type="submit" value="保存" id="btnSave" style="width:100px;" class="btn btn-success" />
                <span id="lblok" class="label label-success" style="display:none;">保存成功.</span>
                <span id="lblfaile" class="label label-warning" style="display:none;">保存失败.</span>

            </form>
        </div>


    </div>

</div>
<div class="alert alert-success" role="alert">   <span id="myDiv">Let AJAX change this text</span></div>
<div class="alert alert-info" role="alert">这是我的任务管理工具，目前我还未能确定这个要实现些什么样的功能。</div>
<script>
//选择一个任务
$("#table tr").click(function(){
    var value=$(this).find('td:first').html();
    if(value>0){
        $(this).addClass('selected').siblings().removeClass('selected');
    }

    $("#lblID").text(value);
    //htmlobj=$.ajax({url:"/gettask?name1="+value,async:false});
    //$("#myDiv").html(htmlobj.responseText);
    //ajax
    $.getJSON("/gettask?name1="+value,function(json){
    $("#txtID").val(json.Id);
    $("#txtTitle").val(json.Title);
    $("#txtContent").val(json.Content);
    $("#myDiv").html(JSON.stringify(json));
   });

});

 var frm = $('#frmTask');
  frm.submit(function (ev) {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
             $("#lblok").show(300);
              $('#lblok').delay(3000).hide(0);
               // alert('ok');
            }

        });

        ev.preventDefault();
    });



</script>
</body>
</html>